# Database
# https://docs.djangoproject.com/en/dev/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',   # Or an IP Address that your DB is hosted on
        'PORT': '',
    }

}

STATICFILES_DIRS = [
        '/var/www/static/',
]

ALLOWED_HOSTS = [
    ''
]

BASIC_AUTH_USERNAME = ''
BASIC_AUTH_PASSWORD = ''

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

#FIREBASE_AUTH = {
#    'FIREBASE_ACCOUNT_KEY_FILE': 'path_to_your_credentials.json',
#}
