{% extends 'main/base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'task_add' %}">Add Task</a>
    
    {% if task_list  %}
    
        <div id ="filter_block"> 
        {% if not filter_category_id == -1 %}
        <a href="/">
        {% endif %}
        All <span id="total_task_count"></span>
        {% if not filter_category_id == -1 %}
        </a>
        {% endif %}&nbsp;
        {% for category in category_list %}
            {% if not category.category_id == filter_category_id %}
            <a href="/?category_id={{category.category_id}}">
            {% endif %}
            {{category.category_id__name}} (<span class="task_category_count">{{category.task_count}}</span>){% if not category.category_id == filter_category_id %}</a>{% endif %}&nbsp;        
        {% endfor %}
        </div>
        <ul>
        {% for task in task_list %}
            <li><a href="{% url 'task' task.id %}">#{{task.id}} [{{task.category_id}}] {{ task.task }} - {{ task.schedule.next_date }} </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tasks are available.</p>
    {% endif %}

<p><a href="{% url 'archive' %}">Archive</a></p>

{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}/static/main_page.js">
</script>
{% endblock %}