{% extends 'main/base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'task_add' %}">Add Task</a> | <a href="{% url 'progress_log' %}">Progress log</a> | <a href="{% url 'stats' %}">Statistics</a>

<div id="message" style="display:none;"></div>
<input type="hidden" name="filter_category_id" id="filter_category_id" value="{{filter_category_id}}">
<div id="task_list">    
</div>
<p><a href="{% url 'archive' %}" class="btn btn-light">Archive</a> <a class="btn btn-light" href="{% url 'category' %}">Manage categories</a> <a class="btn btn-light" href="{% url 'notifications' %}">Notification settings</a></p>

{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}/static/main_page.js">
</script>
{% endblock %}