{% extends 'main/base.html' %}

{% block content %}


<h3>Task #{{ task_id }} [{{task.category_id}}] {{task.task}} </h3>

<div id="message" style="display:none;">Hello!</div>

<ul>
<li>Period: {{task.period}}</li>
<li>Start date: {{task.start_date}}</li>
{% if task.schedule.next_date %}
<li>Next scheduled date: {{task.schedule.next_date}}</li>
{% else %}
<li>Set start date to begin schedule: <form action="{% url 'task_start' task_id %}" method="post">{% csrf_token %}<input type="date" name="start_date"> <input type="submit" value="Set"></form></li>

{% endif %}


<li><a href="{% url 'task_done' task_id %}" id="link_task_done" task-id="{{task_id}}">Mark as done and get next date</a></li>


<li><a href="{% url 'task_postpone' task_id 1 %}" delay-shift="1" class="link_task_postpone" task-id="{{task_id}}">Move for 1 day</a></li>

<li><a href="{% url 'task_postpone' task_id 7 %}"  delay-shift="7" class="link_task_postpone" task-id="{{task_id}}">Postpone for week</a></li>

<li><a href="{% url 'task_postpone' task_id 30 %}"  delay-shift="30" class="link_task_postpone" task-id="{{task_id}}">Postpone for month</a></li>


</ul>

<br>
History:
<ul>
{% load custom_tags %}

{% for log_item in log %}
<li>{{log_item.log_date}}: {{action_enum|get_item:log_item.action}}</li>
{% endfor%}

</ul>

<br>
<a href="/">To the main page</a>


{% endblock %}

{% block javascript %}
 <script type="text/javascript">
$(document).ready(function() {
     $("#link_task_done").click(function () {
        task_id = $(this).attr('task-id')
        console.log( ' marking as done  task_id ' + task_id  );

        message_box = $('#message');
        $.ajax({
            url: '/ajax/task/done',
            data: {
                'task_id' : task_id
            },
            dataType: 'json',
            success: function (data) {
            if (data.result) {
                console.log("Result:" + data.result);
                message_box.text(data.result);
                
            } else {
                console.log("Error has occured during request");
                message_box.text('Error has occured during request');
            }
            message_box.fadeIn('slow', function(){
                message_box.delay(5000).fadeOut(); 
            });

        }
        });
        return false;
    });
    
     $(".link_task_postpone").click(function () {
        task_id = $(this).attr('task-id');
        delay_shift = $(this).attr('delay-shift');        
        console.log(' delaying task_id ' + task_id + ' for ' + delay_shift + ' days' );
        message_box = $('#message');
        $.ajax({
            url: '/ajax/task/postpone',
            data: {
                'task_id' : task_id,
                'delay_shift' : delay_shift
            },
            dataType: 'json',
            success: function (data) {
            if (data.result) {
                
                console.log("Result:" + data.result);
                message_box.text(data.result);
                
            } else {
                console.log("Error has occured during request");
                message_box.text('Error has occured during request');
            }
            message_box.fadeIn('slow', function(){
                message_box.delay(5000).fadeOut(); 
            });

        }
        });
        return false;
    });
});    
</script>



{% endblock %}
