{% extends 'main/base.html' %}

{% block content %}


<h3>Add new task </h3>

<div id="message">{{ result }}</div>

<a href="/category/add">Add new category</a>
<br>
<form  method="post">
    {% csrf_token %}
    <!-- @todo mobile custom responsive style -->
    <table>
    {{ form }}
    </table>
    {% if form  %}
    <input type="submit" value="Save">
    {% endif %}
</form>

<br>
<a href="/">To the main page</a> 

{% endblock %}

{% block javascript %}
<script>
var startDatepicker = false;
</script>
<script src="{{STATIC_URL}}/static/task_edit_page.js"></script>

{% endblock %}
