{% extends 'main/base.html' %}

{% block content %}


<h3>Task #{{ task_id }} [{{task.category_id}}] {{task.task}} </h3>

<div id="message" style="display:none;">Hello!</div>

<ul>
<li>Period: {{task.period}}</li>
<li>Start date: {{task.start_date}}</li>
{% if task.schedule.next_date %}
<li>Next scheduled date: <span id="next_date_val">{{task.schedule.next_date}}</span></li>
{% else %}
<li><span id="start_date_block">Set start date to begin schedule: <form>{% csrf_token %}<input type="date" name="start_date" id="start_date_val"> <input type="button" task-id="{{task_id}}" id="btn_task_start" value="Set"></form></span></li>

{% endif %}


<li><a href="{% url 'task_done' task_id %}" id="link_task_done" task-id="{{task_id}}">Mark as done and get next date</a></li>


<li><a href="{% url 'task_postpone' task_id 1 %}" delay-shift="1" class="link_task_postpone" task-id="{{task_id}}">Move for 1 day</a></li>

<li><a href="{% url 'task_postpone' task_id 7 %}"  delay-shift="7" class="link_task_postpone" task-id="{{task_id}}">Postpone for week</a></li>

<li><a href="{% url 'task_postpone' task_id 30 %}"  delay-shift="30" class="link_task_postpone" task-id="{{task_id}}">Postpone for month</a></li>

<li><a href="{% url 'task_archive' task_id %}"  id="link_task_archive" task-id="{{task_id}}">Archive task</a></li>



</ul>

<br>
History:
<div id="task_history">
<ul>
{% load custom_tags %}

{% for log_item in log %}
<li>{{log_item.log_date}}: {{action_enum|get_item:log_item.action}}</li>
{% endfor %}

</ul>
</div>

<br>
<a href="/">To the main page</a>


{% endblock %}

{% block javascript %}
<script src="{{STATIC_URL}}/static/task_page.js">
</script>
{% endblock %}
