{% extends 'main/base.html' %}

{% block content %}


<h3>Edit task #{{task_id}}</h3>

<div id="message">{{ result }}</div>

<form  method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    {% if form  %}
    <input type="submit" value="Save">
    {% endif %}
</form>

<br>
<a href="{% url 'task' task_id  %}">Back to task</a> | <a href="/">To the main page</a>

{% endblock %}

{% block javascript %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css" charset="utf-8" type="text/css" rel="stylesheet">
    
<script type="text/javascript">
$(document).ready(function() {
   $('.datepicker').datepicker({
     dateFormat: 'yy-mm-dd',
   });
});    
</script>
{% endblock %}
