{% extends 'main/base.html' %}

{% block content %}


<h3>Add new task </h3>

<div id="message">{{ result }}</div>

<a href="/category/add">Add new category</a>
<br>
<form  method="post">
    {% csrf_token %}
    <table>
    {{ form }}
    </table>
    {% if form  %}
    <input type="submit" value="Save">
    {% endif %}
</form>

<br>
<a href="/">To the main page</a> 

{% endblock %}

{% block javascript %}

 <script type="text/javascript">
 $(document).ready(function() {
   $('#id_period').on('change', function() {
     // custom period
     if(this.value == 2) {
        $('#id_period_data').parent().parent().show();
     } else {
        $('#id_period_data').parent().parent().hide();
     
     }
   });
   $('#id_period').trigger('change');
 });    
 </script>
{% endblock %}
